* {
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    background-image: url("windmill-near-green-trees-691458.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title {
    padding: 0.5%;
    text-align: center;
    background: green;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 4px;
    box-shadow: 3px 4px 6px grey;
}
.title h1 {
    color: white;
    font-size: 300%;
    border-bottom-color: green;
}

.left {
    float: left;
    width: 25%;
    top: 0;
    position: sticky;
}

.navbar {
    height: auto;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;
    background-color: green;
    border-top-left-radius: 20px;
    box-shadow: 3px 4px 6px grey;
}

.navbar a {
    display: block;
    color: black;
    padding: 10%;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
    padding: 10%;
    text-decoration: none;
    background-color: black;
}

.statbar {
    height: auto;
    margin: 5%;
    background-color: green;
    box-shadow: 3px 4px 6px grey;
}

.statbar h3 {
    text-align: center;
    border-bottom: solid;
    border-bottom-width: 1.5px;
    padding: 2%;
    margin: 0;
}

.status {
    list-style-image: url('groen.png');
    list-style-position: inside;
    color: black; 
    padding: 4%;
    padding-left: 1%;
    padding-bottom: 5%;
    margin-top: 0;
    margin-left: 5%;
    font-size: 90%;
}

.right {
    height: 100%;
    float: left;
    width: 75%;
    padding-bottom: 5%;
    
}

.content {
    margin-top: 3.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3.5%;
    background-color: green;
    box-shadow: 3px 4px 6px grey;
}

.content h2 {
    color: white;
    border-bottom: solid black;
    margin-bottom: 0;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-top: 1%;
}

.dagen {
    padding: 1%;
    border-bottom: solid black 1.5px;
    font-size: 100%;
}

.probar1 {
    background-color: gray;
    border-radius: 50px;
}

.probar2 {
    background-color: yellow;
    text-align: center;
    border-radius: inherit;
}

.text {
    padding-left: 2.5%;
    padding-right:2.5%;
    padding-top: 1%;
    padding-bottom:1%;
    margin:0;
    background-color:white;
    border:solid 1px;
    
}